---
import testimonials from "@docs/testimonials.json";
import TestimonialsCarouselCard from "./TestimonialsCarouselCard.astro";

const reviews = testimonials.reviews;
---

<div class="carousel">
  <div class="carousel__wrapper">
    <ul id="carousel" class="keen-slider">
      {
        reviews.map((review) => (
          <TestimonialsCarouselCard
            author={review.author}
            text={review.text}
            jobPosition={review.jobPosition}
            photo={review.photo}
            starsCount={review.starsCount}
          />
        ))
      }
    </ul>
  </div>
  <div class="carousel__actions">
    <button type="button" class="carousel-button button-prev-slide">
      <img
        class="icon"
        src="/icons/arrow-right-solid.svg"
        alt="Show previous slide"
      />
    </button>
    <button type="button" class="carousel-button button-next-slide">
      <img
        class="icon"
        src="/icons/arrow-right-solid.svg"
        alt="Show next slide"
      />
    </button>
  </div>
</div>

<script>
  import "keen-slider/keen-slider.min.css";
  import KeenSlider from "keen-slider";

  const carousel = new KeenSlider("#carousel", {
    loop: true,
    breakpoints: {
      "(min-width: 992px)": {
        slides: {
          perView: 2,
          spacing: 30,
        },
      },
    },
  });

  const buttonPrevSlide: HTMLButtonElement =
    document.querySelector(".button-prev-slide")!;
  const buttonNextSlide: HTMLButtonElement =
    document.querySelector(".button-next-slide")!;

  buttonPrevSlide.addEventListener("click", () => carousel.prev());
  buttonNextSlide.addEventListener("click", () => carousel.next());
</script>

<style lang="scss">
  .carousel {
    .carousel__actions {
      display: none;

      .carousel-button {
        background: var(--gr-orange);
      }
    }
  }

  .keen-slider {
    margin: 0;
  }

  @include breakpoints.lg {
    .carousel {
      display: grid;
      grid-template-columns: 800px auto;
    }
  }

  @media (min-width: 1060px) {
    .carousel {
      .carousel__actions {
        position: relative;
        display: block;
        max-width: 100%;

        .carousel-button {
          display: grid;
          place-items: center;
          width: 80px;
          height: 80px;
          padding: 0;
          border-radius: 10px;

          .icon {
            width: 25%;
          }

          &.button-prev-slide {
            position: absolute;
            top: 30%;
            right: 15%;
            z-index: 9;

            .icon {
              transform: rotateY(180deg);
            }
          }

          &.button-next-slide {
            position: absolute;
            top: 45%;
            right: -30%;
            z-index: 10;
          }
        }
      }
    }
  }

  @include breakpoints.xl {
    .carousel {
      grid-template-columns: 920px auto;

      .carousel__actions {
        .carousel-button {
          &.button-next-slide {
            top: 45%;
            right: -15%;
          }
        }
      }
    }
  }
</style>
